<ul class="menu menu-footer-legal">
       <li class="first">
            <a href="@Url.Content(@"~/sitemap")">Sitemap</a>
        </li>
        <li>
            <a href="@Url.Content(@"~/accessibility")">Accessibility</a>
        </li>
        <li>
            <a href="@Url.Content(@"~/privacy-policy")">Privacy policy</a>
        </li>
        <li>
            <a href="@Url.Content(@"~/cookies-policy")">Cookies policy</a>
        </li>
        <li class="last">
            <a href="@Url.Content(@"~/terms-and-conditions")">Terms and conditions</a>
        </li>
</ul>