
@using OrangeCheck.Utils
@using Orchard.DisplayManagement.Shapes
@using Orchard.Localization
@{

    Func<dynamic, dynamic> Zone = x => Display(x);

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.ChangeCulture(), "1");
    WorkContext.Layout.Footer.Add(New._LeagalsMenu(), "5");
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // built by pnv + copywrite
    WorkContext.Layout.TripelThird.Add(New.NewsSignup(), "1");

    Style.Require("default");
    Style.Require("counter");

    Script.Require("jQuery8");
    Script.Require("hover");
    Script.Require("cycle");
    Script.Require("easing");
    Script.Require("flip-counter");
    Script.Require("general");
    Script.Require("home-quotes");
    
    if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion == 7)
    {
        Script.Require("ie");
    }
    
}

@Html.Partial("Parts/Local")

@if (Model.Messages != null)
{
    @Zone(Model.Messages)
}

<div class="container" id="header">
    <div class="inner">
        @if (Model.Header != null)
        {
            @Zone(Model.Header)
        }
        @if (Model.Navigation != null)
        {
            @Zone(Model.Navigation)
        }
    </div>
</div>

@if (Model.Featured != null)
{
    <div class="container" id="hero">
        <div class="inner">
            @Zone(Model.Featured)
        </div>
    </div>
}

  @if (Model.BeforeMain2 != null)
  {
        @Zone(Model.BeforeMain2)
  }

    <div class="container home" id="content">
        <div class="inner">
            <!-- 3 column layout -->
            <div class="columns three">
                @if (Model.Content != null)
                {
                    @Zone(Model.Content)
                }
                
                @if (Model.AsideSecond != null)
                {
                    @Zone(Model.AsideSecond)
                }
                
            </div>
            <!-- 3 column layout -->
            <div class="columns three mobile">
                <div class="column">
                    @if (Model.TripelFirst != null)
                    {
                        @Zone(Model.TripelFirst)
                    }
                </div>
                <div class="column border homepage-quotes">
                    <div id="riders-quotes">
                        <div class="photo-quote">
                            <img src="@Url.Content(@"~/Themes/OrangeCheck/Content/images/homepage/elton-john-talking-head.png")" />
                            <h2>Elton John</h2>
                            <p class="date">Singer and founder of the Elton John AIDS Foundation</p>
                            <blockquote>
                                <span class="quotes"></span>
                                <span>This is such a clever way to solve a huge problem.</span>
                                <p></p>
                                <p></p>
                                <p></p>
                                <p></p>
                            </blockquote>
                        </div>
                        <div class="photo-quote">
                            <img src="@Url.Content(@"~/Themes/OrangeCheck/Content/images/homepage/patron-talking-head.png")" />
                            <h2>HRH The Princess Royal</h2>
                            <p class="date">Patron</p>
                            <blockquote>
                                <span class="quotes"></span>
                                <span>Managing transport to strengthen health systems in the developing world is simply good, common sense.
                                    <p/>
                                    <p/>
                                </span>
                            </blockquote>
                        </div>
                        <div class="photo-quote">
                            <img src="@Url.Content(@"~/Themes/OrangeCheck/Content/images/quotes/ewan-mcgregor.png")" />
                            <h2>Ewan McGregor</h2>
                            <p class="date">Actor</p>
                            <blockquote>
                                <span class="quotes">
							        
                                </span>
                                <span>The work Riders for Health do is vital, bridging the gaps between communities and bringing health services to the people of Africa.
							          
                               
                                </span>

                            </blockquote>
                        </div>
                    </div>
                    <div class="nav"></div>
                </div>
                <div class="column border">
                    <div class="ticker">
                        <div id="flip-counter" class="flip-counter"></div>
                        <p>kilometres travelled this month <a href="@Url.Content(@"~/calculating-our-distance")" class="small">How did we calculate this?</a></p>					
                        <h2><span>See how much further you could travel with </span> Riders for Health</h2>
                        <a href="@Url.Content(@"~/what-we-do/our-services")" class="ribbon"><span>Find out about partnering with us</span></a>
                    </div>		
                </div>
            </div>
        </div>
    </div>


@Html.Partial("_Footer")