@{
    Func<dynamic, dynamic> Zone = x => Display(x); 
}

@Html.Partial("_Header")
@Html.Partial("Parts/Local")

<div class="container" id="header">
    <div class="inner">
        @if (Model.Header != null)
        {
            @Zone(Model.Header)
        }
        @if (Model.Navigation != null) 
        {
            @Zone(Model.Navigation)
        }
    </div>
</div>

@if (Model.Featured != null)
{
    <div class="container" id="hero">
        <div class="inner">
            @Zone(Model.Featured)
        </div>
    </div>
}
 

<div class="container" id="content">
    <div class="inner">
        <div class="columns">
            
            @*Left navigation for sub pages *@
            @if (Model.AsideFirst != null) 
            {
                <div class="column left-nav">
                    <!-- Shows left nav on mobile devices -->
                    <a href="#" class="section">> In this section</a>
                    
                    @Zone(Model.AsideFirst)
                </div>
            }
       
            @*Navigation breadcrumbs and header usually up here *@
            @if (Model.BeforeMain != null || Model.Messages != null 
                || Model.BeforeMain1 != null
                || Model.BeforeMain2 != null || Model.BeforeMain3 != null)
            {
                <div class="right">
                    <!-- full width content -->
                    <div class="column full">
                            
                        @if (Model.BeforeMain != null) { @Zone(Model.BeforeMain) }
                        @if (Model.BeforeMain1 != null){ @Zone(Model.BeforeMain1) }
                        @if (Model.BeforeMain2 != null) { @Zone(Model.BeforeMain2) }
                        @if (Model.BeforeMain3 != null) { @Zone(Model.BeforeMain3) }
                       
                        @if (Model.Messages != null)
                        {
                            @Zone(Model.Messages)
                        }
                    </div>
                </div>
            }
            
            @* used for our people main 4 people widget projection *@
            @if (Model.BeforeContent != null)
            {
                @Zone(Model.BeforeContent)
            }
       
            <div class="right">
            
                @if (Model.Content != null)
                {
                    @Zone(Model.Content)
                }
        
                @* Side bar right for widgets only *@    
                @if (Model.AsideSecond != null || Model.AssideSecondTop != null)
                {
                    <div class="column right-column">
                        @* used to place blog author above other widgets  *@
                        @if (Model.AssideSecondTop != null)
                        {
                            @Zone(Model.AssideSecondTop)
                        }
                        @if (Model.AsideSecond != null)
                        {
                            @Zone(Model.AsideSecond)	    
                        }
                        
                    </div>
                }
            
            </div> 
            @if (Model.AfterContent != null)
            {
                @* for use on where we work summary page *@
                <div class="right">
                    <div class="details">
                        @Zone(Model.AfterContent)
                    </div>
                </div>
            }
            
            @* here is where we put the feature content for sub pages *@
            @if (Model.AfterMain != null)
            {
                @Zone(Model.AfterMain)
            }
            
            @if (Model.TripelFirst != null)
            {
                @* for use impact data for the documents *@
                <div class="right">
                    <div class="details">
                        @Zone(Model.TripelFirst)
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@*Footer section *@
@Html.Partial("_Footer")